<?php
// Return mapping: 'plugin_dir' => ['packagist' => 'vendor/name', 'github' => 'owner/repo or https://github.com/owner/repo']
return [
  // 'archive' => ['bundled' => true],
  // 'myplugin' => ['github' => 'owner/repo'],
  // 'myplugin' => ['github' => 'myorg/myplugin'],
  // 'otherplugin' => ['packagist' => 'vendor/otherplugin'],
  'acl' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/acl'],
  'additional_message_headers' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/additional_message_headers'],
  'archive' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/archive'],
  'attachment_reminder' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/attachment_reminder'],
  'autologon' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/autologon'],
  'autologout' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/autologout'],
  'database_attachments' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/database_attachments'],
  'debug_logger' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/debug_logger'],
  'emoticons' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/emoticons'],
  'enigma' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/enigma'],
  'example_addressbook' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/example_addressbook'],
  'filesystem_attachments' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/filesystem_attachments'],
  'help' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/help'],
  'hide_blockquote' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/hide_blockquote'],
  'http_authentication' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/http_authentication'],
  'identicon' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/identicon'],
  'identity_select' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/identity_select'],
  'jqueryui' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/jqueryui'],
  'krb_authentication' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/krb_authentication'],
  'managesieve' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/managesieve'],
  'markasjunk' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/markasjunk'],
  'newmail_notifier' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/newmail_notifier'],
  'new_user_dialog' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/new_user_dialog'],
  'new_user_identity' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/new_user_identity'],
  'reconnect' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/reconnect'],
  'redundant_attachments' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/redundant_attachments'],
  'show_additional_headers' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/show_additional_headers'],
  'squirrelmail_usercopy' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/squirrelmail_usercopy'],
  'subscriptions_option' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/subscriptions_option'],
  'userinfo' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/userinfo'],
  'vcard_attachments' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/vcard_attachments'],
  'virtuser_file' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/virtuser_file'],
  'virtuser_query' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/virtuser_query'],
  'zipdownload' => ['bundled' => true, 'packagist' => 'roundcube/roundcubemail', 'github' => 'https://github.com/roundcube/roundcubemail/tree/master/plugins/zipdownload'],
];
